body{
    background: rgba(0, 0, 0, 0.589);

    padding: 10vw;
}
main{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.274);
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}
h1{
    text-align: left;
    font-size: 2em;
}
.center{
    text-align: center;
}
a{
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    color: black;
}
a:hover{
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
}
a::before{
    content: '\1F517';
}